@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url("bootstrap/dist/css/bootstrap.min.css");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(
      45deg,
      rgba(20, 33, 61, 0.6),
      rgba(0, 0, 0, 0)
    ),
    url("assets/images/skyline.webp");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.btn-active {
  background-color: #fca311;
  color: #14213d;
}

.custom-icon {
  color: #14213d;
  opacity: 0.5;
  transition-duration: 0.3s;
}

.custom-icon:hover {
  opacity: 1;
}

.dot {
  background-image: linear-gradient(45deg, #14213d, #fca311);
  border-radius: 50%;
  height: 17px;
  position: absolute;
  width: 17px;
}

.external-link {
  background-color: #e5e5e5;
  color: #14213d;
}

.external-link:hover {
  background-color: #fca311;
}

.footer {
  background-color: #fca311;
  color: #14213d;
}

.gradient,
.btn-inactive {
  color: #14213d;
}

.btn-inactive:hover,
.btn-active:hover {
  background-color: #e5e5e5;
}

/* gradient text for modern browsers */
@supports (background-clip: text) {
  .gradient {
    background-clip: text;
    background-image: linear-gradient(45deg, #14213d, #fca311);
    color: transparent;
  }
}
